:root{
    --clr-primary: 92, 20%, 35%;

    --clr-error: 0, 74%, 42%;

    --clr-dark-800: 0, 0%, 20%;
    --clr-dark-900: 0, 0%, 10%;

    --clr-white: 0, 0%, 100%;
    --clr-light-200: 210, 20%, 98%;
    --clr-light-500: 0, 0%, 47%;

    --ff-primary: "Merriweather Sans", sans-serif;
    --ff-logo: "Norse Bold", sans-serif;

    --fs-x-small: 0.75rem;
    --fs-small: 1rem;
    --fs-regular: 1.25rem;
    --fs-medium: 1.5rem;
    --fs-large: 2rem;
    --fs-x-large: 3.75rem;

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

@font-face {
  font-family: "Norse Bold";
  src: url(fonts/Norse-Bold.otf);
}

/* ------- */
/*  Reset  */
/* ------- */

* {
    box-sizing: border-box;
    margin: 0;
  }

img {
  display: block;
  max-width: 100%;
}

input, button {
  font: inherit;
}

/* --------- */
/*  General  */
/* --------- */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  line-height: 1.7;
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--clr-dark-900);
  background-color: hsl(var(--clr-primary));
}

label{
  color: var(--clr-dark-800);
  text-transform: uppercase;
  font-size: var(--fs-x-small);
  letter-spacing: 0.25rem;
}


/* ------------ */
/*  Components  */
/* ------------ */
/* Modal */
.modal{
  background-color: hsl(var(--clr-white));
  box-shadow: 5px 5px 5px hsla(var(--clr-dark-800), 0.5);
  border-radius: .75rem;
  overflow: hidden;
}

/* Buttons */
.btn{
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  font-weight: var(--fw-semi-bold);
}

.btn--primary{
  background-color: hsl(var(--clr-primary));
  color: hsl(var(--clr-white));
}

/* Logo */
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.logo p{
  font-size: 4rem;
  font-weight: var(--fw-bold);
  font-family: var(--ff-logo);
  text-transform: uppercase;
}

.logo.logo--md img{
  height: 6rem;
}

/* Photo Credit */
.photo-credit{
  color: hsl(var(--clr-light-500));
  font-weight: var(--fw-regular);
  font-size: var(--fs-x-small);
  text-align: center;
}

.photo-credit a{
  color: inherit;
}

.photo-credit a:hover,
.photo-credit a:focus{
  color: hsl(var(--clr-white));
}

/* ----------- */
/*  Utilities  */
/* ----------- */
.all-caps{
  text-transform: uppercase;
}

.text-italic{
  font-style: italic;
}

.fs-medium{
  font-size: 1.25rem;
}

.fs-large{
  font-size: var(--fs-large);
}

.fw-bold{
  font-weight: var(--fw-bold);
}

/* --------- */
/*  Layout  */
/* --------- */
.form-group{
  display: flex;
  flex-direction: column;
}

.flow > * + *{
  margin-top: 1rem;
}

/* --------- */
/*  Sign-Up  */
/* --------- */

.sign-up{
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  max-width: 1200px;
  min-height: 700px;
}

.sign-up__secondary{
  display: grid;
  grid-template-rows: 1fr 1fr;
  flex: 1;
  width: 33%;
  min-width: 300px;
  padding: 1rem 1.875rem;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(images/leaves.jpg);
  color: hsl(var(--clr-white));
}

.sign-up__secondary > *{
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

.sign-up__info{
  grid-row: 1 / -1;
  align-self: center;
}

.sign-up__secondary .photo-credit{
  grid-row: 2 / -1;
  align-self: self-end;
}

.sign-up__primary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 77%;
  min-width: 800px;
  padding-block: 1rem;
  background-color: hsl(var(--clr-light-200));
}

.sign-up__primary > div {
  padding-inline: 1rem;
}

.sign-up__primary form{
  padding: 1rem;
  background-color: hsl(var(--clr-white));
  box-shadow: 5px 5px 5px hsla(var(--clr-dark-800), 0.2);
}

.sign-up__primary .main-form{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.sign-up__primary .form-group{
  flex-basis: calc(50% - 1rem);
}

@media screen and (max-width: 900px){
  .sign-up__primary .main-form{
    flex-direction: column;
  }

  .sign-up__primary{
    min-width: 100%;
  }

  .sign-up__info > p{
    display: none;
  }
}