:root{
    --clr-primary: 92, 20%, 35%;

    --clr-error: 0, 74%, 42%;

    --clr-dark-800: 0, 0%, 20%;
    --clr-dark-900: 0, 0%, 10%;

    --clr-white: 0, 0%, 100%;
    --clr-light-200: 210, 20%, 98%;
    --clr-light-500: 0, 0%, 47%;

    --ff-primary: "Merriweather Sans", sans-serif;
    --ff-logo: "Norse Bold", sans-serif;

    --fs-x-small: 0.75rem;
    --fs-small: 1rem;
    --fs-regular: 1.25rem;
    --fs-medium: 1.5rem;
    --fs-x-large: 3.75rem;

    --fw-regular: 300;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

@font-face {
  font-family: "Norse Bold";
  src: url(fonts/Norse-Bold.otf);
}

/* ------- */
/*  Reset  */
/* ------- */

* {
    box-sizing: border-box;
    margin: 0;
  }

img {
  display: block;
  max-width: 100%;
}

input, button {
  font: inherit;
}

/* --------- */
/*  General  */
/* --------- */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-inline: 1rem;
  line-height: 1.5;
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--clr-dark-900);
  background-color: hsl(var(--clr-primary));
}

label{
  color: var(--clr-dark-800);
  text-transform: uppercase;
  font-size: var(--fs-x-small);
  letter-spacing: 0.25rem;
}

.btn{
  border: none;
  background-color: hsl(var(--clr-primary));
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  color: hsl(var(--clr-white));
  font-weight: var(--fw-semi-bold);
}

/* --------- */
/*  Layout  */
/* --------- */
.form-group{
  display: flex;
  flex-direction: column;
}

.flow > * + *{
  margin-top: 1rem;
}

/* --------- */
/*  Sign-Up  */
/* --------- */

.sign-up{
  background-color: hsl(var(--clr-white));
  box-shadow: 5px 5px 5px hsla(var(--clr-dark-800), 0.5);
  border-radius: .5rem;
  overflow: hidden;
  min-width: 90vw;
}

/* Sign-Up Side Section */
.sign-up__secondary{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 25vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/leaves.jpg);
  color: hsl(var(--clr-white));
  position: relative;
}

.sign-up__secondary-container{
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-up__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.sign-up__logo img{
  height: 6rem;
}

.sign-up__logo p{
  font-size: 4rem;
  font-weight: var(--fw-bold);
  font-family: var(--ff-logo);
  text-transform: uppercase;
}

.sign-up__content{
  display: none;
}

.sign-up__photo-credit{
  width: calc(100% - 1rem);
  position: absolute;
  bottom: 0.5rem;
  text-align: center;
  color: hsl(var(--clr-light-500));
  font-weight: var(--fw-regular);
  font-size: var(--fs-x-small);
}

.sign-up__photo-credit a{
  color: inherit;
}

.sign-up__photo-credit a:hover,
.sign-up__photo-credit a:focus{
  color: hsl(var(--clr-white));
}

/* Sign-Up Main Section */
.sign-up__primary{
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}